<div class="browseWrapper">
    <div class="mealType">
        <strong>Meal Type</strong>
        <a>Breakfast</a>
        <a>Lunch</a>
        <a>Dinner</a>
        <a>Snack</a>
    </div>
    <div class="dietaryRestrictions">
        <strong>Dietary Restrictions</strong>
        <a>Vegan</a>
        <a>Vegetarian</a>
        <a>Paleo</a>
        <a>Keto</a>
    </div>
    <div class="cuisineType">
        <strong>Cuisine</strong>
        <a>Chinese</a>
        <a>Italian</a>
        <a>American</a>
        <a>French</a>
    </div>
</div>
