.mainHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e6e6e6;
    width: 100%;
    height: 65px;
}
.cart{
    border-radius: 5px;
    padding: 7px
}
.cart:hover{
    background-color: red;
}
body{
    margin:0;
}

.checkout { /*possible have 'view cart' text that when hovered over will have the transition effect and make the text disappear when viewing cart?*/
    height: auto;/*either hover effect or on click effect. might be good to make it more permanent when trying to pay etc*/
    width: auto;
    transition: height 1.5s;
}

/* .checkout:hover {
    height: 100px;
} */