<div class="searchWrapper">
  <h1>Search For Recipes</h1>
  <div class="searchFunction">
      <button class="browseButton" (click)="showBrowseForm = !showBrowseForm">Browse</button>
    <input
      type="text/css"
      placeholder="Ex.'Vegetarian' or 'Carrots'"
      (keyup.enter)="searchRecipes()"
    /><button class="submitButton" (click)="searchRecipes()">Submit</button
    ><br />
  </div>
  <app-browse-feature *ngIf="showBrowseForm" (find)="buttonSearchRecipes($event)"></app-browse-feature>
  <div class="emptyMessage" *ngIf="searchItems.length < 1">
    Search for something above or click on the browse button to view additional options
  </div>
  <div class="searchItemsWrapper">
    <div class="searchItem" *ngFor="let item of searchItems; let i = index">
      <div
        class="picture"
        [style.background-image]="
          'url(' + this.searchItems[i].recipe.image + ')'
        "
      ></div>
      <div class="title">{{ this.searchItems[i].recipe.label }}</div>
      <div class="otherInfo">
        <div class="calories">
          <strong>Total Calories: </strong
          >{{ this.searchItems[i].recipe.calories | number: "1.0-0" }} 
        </div>
        <div class="time">
          <strong>Time to Make: </strong
          >{{ this.searchItems[i].recipe.totalTime }} Minutes
        </div>
        <div class="servings">
          <strong>Servings: </strong>{{ this.searchItems[i].recipe.yield }}
        </div>
      </div>
    </div>
  </div>
</div>
